{% extends "base.html" %}

{% block title %}Times{% endblock %}

{% block content %}
<div class="content-card">
    <h2>Times de Futebol</h2>
    <p>Confira alguns dos times mais famosos do mundo:</p>
    
    <ul class="team-list">
        <li>Santos</li>
        <li>Real Madrid</li>
        <li>Barcelona</li>
        <li>Bayern de Munique</li>
        <li>Manchester United</li>
        <li>Juventus</li>
        <li>Flamengo</li>
        <li>Corinthians</li>
        <li>PSG</li>
        <li>Liverpool</li>
    </ul>
    
    <p>Estes são apenas alguns dos grandes clubes que fazem história no futebol mundial.</p>
</div>
{% endblock %}